ul {
  max-width: 1257px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  margin: auto;
}

.card-container {
  display: flex;
  padding: 20px;
  cursor: pointer;
}

h1 {
  text-align: center;
}
